body {
    direction: rtl;
    margin: 0;
    color: #999;
    background-color: #f68c18;
    font-family: 'FreeMono', "Andale Mono", Consolas,
        "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;

}

a:link {
    color: #EEE;
}

a:visited {
    color: #EEE;
}

a:hover {
    color: #FF9;
}

a:active {
    color: #EEE;
}

a {
    text-decoration: none;
    /* color: #FF6; */
}

h1 {
    color: #ACD;
    /* text-align: center; */
    text-decoration: underline;
}

h3 {
    color: #68A;
}

p {
    color: #89A;
}


/* logo */
header {
    font-family: "paamon";
    font-weight: 400;
    position: sticky;
    text-align: center;
    top: 5%;
    right: 5%;
    width: 12%;
    height: 0;
    z-index: 10;
}

/* logo text */
header p {
    font-size: 1.2vw;
}

/* code he/en/de/... */
nav {
    font-family: "paamon";
    font-size: 1.4vw;
    position: sticky;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f68c18;
    text-align: center;
    height: 4%;
    z-index: 2;

}

nav>div {
    z-index: 4;
}

/* links */
aside {
    font-family: "paamon";
    font-size: 1.2vw;
    font-weight: 300;

    position: sticky;
    background-color: #f68c18;
    padding: 1%;
    text-align: center;
    bottom: 0;
}

footer {
    font-family: "paamon";
    font-size: 0.8vw;
    background-color: #f68c18;
    z-index: 3;
    padding: 1%;
    text-align: center;
}

img#main {
    width: 100%;
}

article {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

article h1 {
    font-size: 2vw;
}

article h3 {
    font-size: 1.5vw;
}

article p {
    font-size: 1.4vw;

}

.code {
    padding-top: 3%;
}

img#logo {
    width: 80%;
    filter: invert(.8);
}

img#logo:hover {
    filter: invert(.9);
}

@font-face {
    font-family: 'paamon';
    font-weight: 300;
    /*(light)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-light-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-light-aaa.woff') format('woff');
}

@font-face {
    font-family: 'paamon';
    font-weight: 400;
    /*(regular)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-regular-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-regular-aaa.woff') format('woff');
}


@font-face {
    font-family: 'paamon';
    font-weight: 500;
    /*(medium)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-medium-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-medium-aaa.woff') format('woff');
}


@font-face {
    font-family: 'paamon';
    font-weight: 700;
    /*(bold)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-bold-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-bold-aaa.woff') format('woff');
}

@font-face {
    font-family: 'paamon';
    font-weight: 900;
    /*(black)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-black-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-black-aaa.woff') format('woff');
}

/* /// */

@font-face {
    font-family: 'FreeMono';
    font-style: normal;
    font-weight: 400;
    src:
        local('FreeMono'),
        url('https://fonts.cdnfonts.com/s/16387/FreeMono.woff') format('woff');
}