body {
    direction: rtl;
    margin: 0;
    color: rgb(145, 90, 20);
    background-color: #f68c18;
    font-family: 'FreeMono', "Andale Mono", Consolas,
        "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;

}

a:link {
    color: rgb(66, 33, 0);
}

a:visited {
    color: rgb(66, 33, 40);;
}

a:hover {
    color: rgb(99, 66, 80);
}

a:active {
    color: rgb(88, 44, 22);
}

a {
    text-decoration: none;
}

a#download p {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    color: white;
}

h1 {
    color: rgb(66, 33, 0);
    text-decoration: underline;
}

h3 {
    color: rgb(83, 54, 0);
}

p {
    color: rgb(45, 22, 0);
}


/* logo */
header {
    font-family: "paamon";
    font-weight: 400;
    position: sticky;
    text-align: center;
    top: 15%;
    right: 5%;
    width: 12%;
    height: 0;
    z-index: 10;
}

/* logo text */
header p {
    font-size: 0.7em;
}

/* code he/en/de/... */
nav {
    font-family: "paamon";
    font-size: 2.1vw;
    position: sticky;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f68c18;
    text-align: center;
    height: 5%;
    z-index: 2;

}

nav>div {
    z-index: 4;
}

/* links */
aside {
    font-family: "paamon";
    font-size: 2.0vw;
    font-weight: 300;

    position: sticky;
    background-color: #f68c18;
    padding: 1%;
    text-align: center;
    bottom: 0;
}

footer {
    font-family: "paamon";
    font-size: 1.3vw;
    background-color: #f68c18;
    z-index: 3;
    padding: 1%;
    text-align: center;
}

img#main {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}

article {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

article h1 {
    font-size: 1.4em;
}

article h3 {
    font-size: 1em;
}

article p {
    font-size: 0.8em;

}

.code {
    padding-top: 3%;
}

img#logo {
    width: 80%;
    filter: invert(0);
}

img#logo:hover {
    filter: invert(1);
}

@font-face {
    font-family: 'paamon';
    font-weight: 300;
    /*(light)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-light-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-light-aaa.woff') format('woff');
}

@font-face {
    font-family: 'paamon';
    font-weight: 400;
    /*(regular)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-regular-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-regular-aaa.woff') format('woff');
}


@font-face {
    font-family: 'paamon';
    font-weight: 500;
    /*(medium)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-medium-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-medium-aaa.woff') format('woff');
}


@font-face {
    font-family: 'paamon';
    font-weight: 700;
    /*(bold)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-bold-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-bold-aaa.woff') format('woff');
}

@font-face {
    font-family: 'paamon';
    font-weight: 900;
    /*(black)*/
    font-style: normal;
    src:
        url('fonts/paamon/paamon-black-aaa.woff2') format('woff2'),
        url('fonts/paamon/paamon-black-aaa.woff') format('woff');
}

/* /// */

@font-face {
    font-family: 'FreeMono';
    font-style: normal;
    font-weight: 400;
    src:
        local('FreeMono'),
        url('https://fonts.cdnfonts.com/s/16387/FreeMono.woff') format('woff');
}
